# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.
#test backup
[bltouch]
sensor_pin: ^PC14 #Remove ^ if print head crashes into bed, the ^ is for the CR touch a bl touch should work without.
control_pin: PA1
x_offset: -50
y_offset: -7
samples: 2
#z_offset: 10
speed: 10

[safe_z_home]
home_xy_position: 115,115 # Change coordinates to the center of your print bed
speed: 250
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 10
mesh_min: 2, 10
mesh_max: 195, 223
probe_count: 5,5
mesh_pps: 2,2
fade_start: 1
Fade_end: 10
fade_target: 0

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 1
position_max: 250
homing_speed: 50


[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
#run_current: 0.6
run_current: 0.58 #OG from BTT
#hold_current: 0.500 # 
stealthchop_threshold: 999999


[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -6
position_max: 239
position_min: -6
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
#run_current: 0.6
run_current: 0.580 #OG from BTT
#hold_current: 0.500
stealthchop_threshold: 999999


[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: -.9

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
#run_current: 0.6
run_current: 0.58 #OG from BTT
#hold_current: 0.500 # 
stealthchop_threshold: 999999


[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 29.172
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 280
max_extrude_only_distance: 101
#min_extrude_temp: 0 #used to do extruder calibration test#

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
#stealthchop_threshold: 999999



[firmware_retraction]
retract_length: .9
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0.0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 20
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[heater_bed]
heater_pin: PC9
#sensor_type: ATC Semitec 104GT-2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PB15
#pin: PC6
heater: extruder
heater_temp: 50.0

[temperature_fan electronic_enclosure_fan]
pin: PC7
#max_power: 0.4
#shutdown_speed: 0.0
control: watermark
#max_delta: 5.0
sensor_type: temperature_host
#sensor_mcu: mcu
min_temp: 0
max_temp: 100
target_temp: 60.0


[fan]
pin: PC6
#pin: PB15
#heater: bed
#heater_temp: 50.0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2E001B0010504B5735313920-if00
# serial: /dev/ttyAMA0
# restart_method: command

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 8000
max_z_velocity: 10 #OG Setting
max_z_accel: 100 #OG Setting
#max_z_velocity: 20 #Z input shaping
#max_z_accel: 1550 #Z input shaping
square_corner_velocity: 5.0

[include test_speed.cfg]

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[include mainsail.cfg]
#[include macros.cfg]

#[include lis2dw.cfg]
[input_shaper]
shaper_freq_x: 78
shaper_type_x: mzv
shaper_freq_y: 29.4
shaper_type_y: mzv
shaper_freq_z: 135
shaper_type_z: mzv

[bed_screws]

screw1: 34,31
screw2: 200,31
screw3: 200,198
screw4: 34,198
##################################
# Screw Tilt Adjust
##################################
[screws_tilt_adjust]

screw1: 81,35
screw1_name: left front screw
screw2: 249,35
screw2_name: right front screw
screw3: 249,206
screw3_name: right rear screw
screw4: 81, 206
screw4_name: left rear screw
horizontal_move_z: 15
speed: 250.
screw_thread: CW-M4

[virtual_sdcard]
path: ~/printer_data/gcodes

[exclude_object]

[temperature_sensor pi_temp]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor BTT_temp]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100
#[temperature_sensor PI&BTT_temp]
#sensor_type: temperature_combined
#sensor_list: pi_temp BTT_temp
#maximum_deviation: 5
#combination_method: mean



######################################################################
##                                MACROS
######################################################################

[gcode_macro START_PRINT]
gcode:
  {% set BED = params.BED|default(params.BED_TEMP|default(60))|float %}
  {% set EXTRUDER = params.EXTRUDER|default(params.EXTRUDER_TEMP|default(220))|float %}

  G90
  M83
  G92 E0

  ; Start heating (no waiting yet)
  M140 S{BED}
  M104 S150

  ; Home
  G28

  ; Move to front-left while heating
  G1 Z10 F3000
  G1 X5 Y5 F6000

  ; Wait for bed, then mesh on a hot bed
  M190 S{BED}
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE

  ; Now heat nozzle to final
  M104 S{EXTRUDER}
  M109 S{EXTRUDER}

  ; Go to purge start (adjust to your preference)
  G1 Z0.60 F600


[gcode_macro END_PRINT]
gcode:
  M104 S0
  M140 S0
  M106 S0

  G91
  G1 E-2 F1800
  G1 Z10 F3000
  G90

  G1 X5 Y220 F6000
  M84

######################################################################
## Filament Change                                                  ##
######################################################################
# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 130mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "SWAP_RESUME" gcode.
[gcode_macro M600]
########### Gcode ############
gcode:
  {% set X = params.X|default(printer.configfile.config["stepper_x"]["position_endstop"]|string)|int %}
  {% set Y = params.Y|default(printer.configfile.config["stepper_y"]["position_endstop"]|string)|int %}
  {% set Z = params.Z|default(10)|int %}
  {% set E = params.E|default(-20)|int %}
  {% set tool = params.tool|default(0)|int %}

        SAVE_GCODE_STATE NAME=M600_state
        PAUSE
        G91
        G1 E-5 F4000
        G1 Z{Z}
        G90
        G1 X{X} Y{Y} F3000        ;park position
        G0 E10 F500                ;extrude filament to get better blob on end
        G0 E{E} F600             ;retract additional filament to move out of melt zone
        G92 E0
        SET_FILAMENT_SENSOR SENSOR=e{TOOL}_runout ENABLE=0

#    Use this command resume during a mid print filament swap (DONT USE OCTO/MAINSAIL/DWC RESUME)
[gcode_macro SWAP_RESUME] 
gcode:
    RESTORE_GCODE_STATE NAME=M600_state
    SET_FILAMENT_SENSOR SENSOR=e0_runout ENABLE=1
    SET_FILAMENT_SENSOR SENSOR=e1_runout ENABLE=1
    resume

######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.066250, -0.043750, -0.081250, 0.077500
#*# 	  0.046250, -0.007500, 0.028750, 0.107500
#*# 	  -0.005000, -0.040000, 0.016250, 0.063750
#*# 	  -0.095000, -0.118750, -0.095000, -0.053750
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 23.099999999999994
#*# max_x = 194.99999999999997
#*# min_y = 23.1
#*# max_y = 196.89000000000001
#*#
#*# [bltouch]
#*# z_offset = 0.140
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.609
#*# pid_ki = 1.533
#*# pid_kd = 76.170
